{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
      
<div style="float: right;">
{% if request.user.is_authenticated %}
{% include "carrito/carrito.html"%}

{% else %}
<div class="alert alert-danger text text-center">
<span>Regístrate para ver el carrito</span>
</div>
{% endif %}
</div>

<div class="row">

{% for producto in clave_producto %}
<div class="col-md-3">

      <div class="card" style="width: 100%; margin: 5px 5px;">
        <img class="card-top" src="{{producto.imagen.url}}">

<div class="card-body" style="text-align: center;">
      <h2 class="card-title">{{producto.nombre}}</h2>
      <p class="card-text">{{producto.precio}} &nbsp; $</p>
</div>

<div class="card-footer text-center">
<a class="btn btn-success" href="{% url 'carro:agregar' producto.id %}">Agregar  {{producto.nombre}} al carrito</a>

</div>

         </div>
</div>        
{% endfor %}
</div>

</div>


{% endblock %}
