<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>¡Hola! {{nombre_usuario}}<br>Le informamos que su pedido se realizó correctamente. <br>Número de pedido: {{pedido.id}}
    <br>Email usado para el pedido: {{email_usuario}}<br>Detalles de la compra: {{lineas_pedido}}
    <br>¡Gracias por comprar con nosotros!
    </p>
</body>
</html>