<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver detalles de la persona</title>
</head>
<body>
    <h1>Detalles de la persona</h1>

    <div>
        <ul>
            <li>ID: {{persona.id}}</li>
            <li>Nombre: {{persona.nombre}} {{persona.apellido}}</li>
            <li>Correo: {{persona.email}}</li>
        </ul>
    </div>
    <div><a href="{{url_for('index')}}">Volver al inicio</a></div>
</body>
</html>